{% extends 'shop/basic.html' %}

{% block title%} triart{% endblock %}
<h1>TriArt<h1>
{% block body %}<p style="color:white"> when we come toward traditional art we dont find any perfect website to shop for items , 
our website gives you the prvailage to shop for items , both indian or taditronal and sveguard the tradition of tha community, through means of this website we are trying to build a place to shop for tradition,come join us,shop with us and make us bloom !! 
1. we have greater availibiliyt of product


2. major updates each season

3. low priced items 

what are you waiting for??</p>{% endblock %}